<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.keyware.unit.core.ICoverageSession"
            class="com.keyware.unit.internal.ui.WorkbenchAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="$nl$/icons/full/wizban/run_coverage.png"
            id="com.keyware.unit.ui.launchGroup.coverage"
            image="$nl$/icons/full/elcl16/runcoverage.png"
            label="%CoverageLaunchGroup.label"
            mode="coverage"
            title="%CoverageLaunchGroup.title"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.keyware.unit.internal.ui.actions.ContextualLaunchableTester"
            id="com.keyware.unit.ui.propertyTester.contextualLaunchable"
            namespace="com.keyware.unit.ui"
            properties="launchable"
            type="java.lang.Object"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JavaApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/java_launch.png"
            modes="coverage"
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            id="com.keyware.unit.ui.localJavaShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.keyware.unit.ui.launchable" args="org.eclipse.jdt.debug.ui.localJavaShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitTestShortcut.label"
            icon="$nl$/icons/full/etool16/junit_launch.png"
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            modes="coverage"
            id="com.keyware.unit.ui.junitShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.keyware.unit.ui.launchable" args="org.eclipse.jdt.junit.junitShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.testng.eclipse.shortcut"
            icon="$nl$/icons/full/etool16/testng_launch.gif"
            id="com.keyware.unit.ui.testNgShortcut"
            label="%TestNgShortcut.label"
            modes="coverage">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.testng.eclipse.shortcut"
                        property="com.keyware.unit.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.testng.eclipse.shortcut.testngSuite"
            icon="$nl$/icons/full/etool16/testng_launch.gif"
            id="com.keyware.unit.ui.testNgSuiteShortcut"
            label="%TestNgSuiteShortcut.label"
            modes="coverage">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.testng.eclipse.shortcut.testngSuite"
                        property="com.keyware.unit.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%EclipseApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/eclipse_launch.png"
            modes="coverage"
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.runtimeWorkbenchShortcut"
            id="com.keyware.unit.ui.workbenchShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.keyware.unit.ui.launchable" args="org.eclipse.pde.ui.runtimeWorkbenchShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitPluginTestShortcut.label"
            icon="$nl$/icons/full/etool16/junitplugin_launch.png"
            modes="coverage"
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut"
            id="com.keyware.unit.ui.junitPluginShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.keyware.unit.ui.launchable" args="org.eclipse.pde.ui.junitWorkbenchShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitRAPTestShortcut.label "
            icon="$nl$/icons/full/etool16/junitplugin_launch.png"
            modes="coverage"
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"
            id="com.keyware.unit.ui.RAPJUnitLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <test property="com.keyware.unit.ui.launchable" args="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"/>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.swtbot.eclipse.ui.junitShortcut"
            icon="$nl$/icons/full/etool16/swtbot_launch.png"
            id="com.keyware.unit.ui.SWTBotJUnitShortcut"
            label="%SWTBotJUnitShortcut.label"
            modes="coverage">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.swtbot.eclipse.ui.junitShortcut"
                        property="com.keyware.unit.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.keyware.unit.ui.launching.CoverageLaunchShortcut:org.eclipse.shortcut.scala"
            icon="$nl$/icons/full/etool16/scala_launch.png"
            id="com.keyware.unit.ui.scalaShortcut"
            label="%ScalaApplicationShortcut.label"
            modes="coverage">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.shortcut.scala"
                        property="com.keyware.unit.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.keyware.unit.ui.CoverageActionSet"
            label="%CoverageActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               class="com.keyware.unit.internal.ui.actions.CoverageToolbarAction"
               disabledIcon="$nl$/icons/full/dlcl16/runcoverage.png"
               hoverIcon="$nl$/icons/full/elcl16/runcoverage.png"
               icon="$nl$/icons/full/elcl16/runcoverage.png"
               id="com.keyware.unit.ui.actions.CoverageDropDownAction"
               label="%CoverageDropDownAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.keyware.unit.internal.ui.actions.OpenCoverageConfigurations"
               definitionId="com.keyware.unit.ui.commands.OpenCoverageConfiguration"
               id="com.keyware.unit.ui.actions.OpenCoverageConfiguration"
               label="%OpenCoverageConfigurationsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"/>
         <action
               class="com.keyware.unit.internal.ui.actions.CoverageAsAction"
               id="com.keyware.unit.ui.actions.CoverageAsAction"
               label="%CoverageAsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.keyware.unit.internal.ui.actions.CoverageHistoryAction"
               id="com.keyware.unit.ui.actions.CoverageHistoryAction"
               label="%CoverageHistoryAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.keyware.unit.internal.ui.actions.CoverageLastAction"
               definitionId="com.keyware.unit.ui.commands.CoverageLast"
               disabledIcon="$nl$/icons/full/dlcl16/relaunch.png"
               hoverIcon="$nl$/icons/full/elcl16/relaunch.png"
               icon="$nl$/icons/full/elcl16/relaunch.png"
               id="com.keyware.unit.ui.actions.CoverageLast"
               label="%CoverageLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.keyware.unit.ui"
            name="%EclEmmaCommandCategory.name">
      </category>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageLastCommand.description"
            id="com.keyware.unit.ui.commands.CoverageLast"
            name="%CoverageLastCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%OpenCoverageConfigurationsCommand.description"
            id="com.keyware.unit.ui.commands.OpenCoverageConfiguration"
            name="%OpenCoverageConfigurationsCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJavaApplicationCommand.description"
            id="com.keyware.unit.ui.localJavaShortcut.coverage"
            name="%CoverageJavaApplicationCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitTestCommand.description"
            id="com.keyware.unit.ui.junitShortcut.coverage"
            name="%CoverageJUnitTestCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageTestNGCommand.description"
            id="com.keyware.unit.ui.testNgShortcut.coverage"
            name="%CoverageTestNGCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageTestNGSuiteCommand.description"
            id="com.keyware.unit.ui.testNgSuiteShortcut.coverage"
            name="%CoverageTestNGSuiteCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageEclipseApplicationCommand.description"
            id="com.keyware.unit.ui.workbenchShortcut.coverage"
            name="%CoverageEclipseApplicationCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitPluginTestCommand.description"
            id="com.keyware.unit.ui.junitPluginShortcut.coverage"
            name="%CoverageJUnitPluginTestCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitRAPTestCommand.description"
            id="com.keyware.unit.ui.junitRAPShortcut.coverage"
            name="%CoverageJUnitRAPTestCommand.name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageSWTBotJUnitCommand.description"
            id="com.keyware.unit.ui.swtBotJunitShortcut.coverage"
            name="%CoverageSWTBotJUnitCommand.name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageScalaApplicationCommand.description"
            id="com.keyware.unit.ui.scalaShortcut.coverage"
            name="%CoverageScalaApplicationCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            id="com.keyware.unit.ui.selectRootElements"
            name="%SelectRootElementsCommand.name">
         <commandParameter
               id="type"
               name="type"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            id="com.keyware.unit.ui.selectCounters"
            name="%SelectCountersCommand.name">
         <commandParameter
               id="type"
               name="type"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            id="com.keyware.unit.ui.hideUnusedElements"
            name="%HideUnusedElementsCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.ImportSessionHandler"
            id="com.keyware.unit.ui.importSession"
            name="%ImportSessionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.ExportSessionHandler"
            id="com.keyware.unit.ui.exportSession"
            name="%ExportSessionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.RelaunchSessionHandler"
            id="com.keyware.unit.ui.relaunchSession"
            name="%RelaunchSessionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.RemoveActiveSessionHandler"
            id="com.keyware.unit.ui.removeActiveSession"
            name="%RemoveActiveSessionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.RemoveAllSessionsHandler"
            id="com.keyware.unit.ui.removeAllSessions"
            name="%RemoveAllSessionsCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.MergeSessionsHandler"
            id="com.keyware.unit.ui.mergeSessions"
            name="%MergeSessionsCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            id="com.keyware.unit.ui.linkWithSelection"
            name="%LinkWithSelectionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.SelectActiveSessionHandler"
            id="com.keyware.unit.ui.selectActiveSession"
            name="%SelectActiveSessionCommand.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.OpenSessionExecutionDataHandler"
            id="com.keyware.unit.ui.openSessionExecutionData"
            name="%OpenSessionExecutionData.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.DumpExecutionDataHandler"
            id="com.keyware.unit.ui.dumpExecutionData"
            name="%DumpExecutionData.name">
      </command>
      <command
            categoryId="com.keyware.unit.ui"
            defaultHandler="com.keyware.unit.internal.ui.handlers.ResetOnDumpHandler"
            id="com.keyware.unit.ui.resetOnDump"
            name="%ResetOnDump.name">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.keyware.unit.ui.localJavaShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E J"/>
      <key
            commandId="com.keyware.unit.ui.scalaShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E L">
      </key>
      <key
            commandId="com.keyware.unit.ui.junitShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E T"/>
      <key
            commandId="com.keyware.unit.ui.testNgShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E N">
      </key>
      <key
            commandId="com.keyware.unit.ui.testNgSuiteShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E G">
      </key>
      <key
            commandId="com.keyware.unit.ui.workbenchShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E E"/>
      <key
            commandId="com.keyware.unit.ui.junitPluginShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E P"/>
      <key
            commandId="com.keyware.unit.ui.junitRAPShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E R"/>
      <key
            commandId="com.keyware.unit.ui.swtBotJunitShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E S">
      </key>
      <key
            commandId="com.keyware.unit.ui.commands.CoverageLast"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11"/>
      <!-- override key binding on Mac OS X -->
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="cocoa"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.keyware.unit.ui.commands.CoverageLast"
            platform="carbon"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
      <key
            commandId="com.keyware.unit.ui.commands.CoverageLast"
            platform="cocoa"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet id="com.keyware.unit.ui.CoverageActionSet"/>
         <showInPart id="com.keyware.unit.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.keyware.unit.ui.CoverageActionSet"/>
         <showInPart id="com.keyware.unit.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet id="com.keyware.unit.ui.CoverageActionSet"/>
         <showInPart id="com.keyware.unit.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet id="com.keyware.unit.ui.CoverageActionSet"/>
         <showInPart id="com.keyware.unit.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.scala-ide.sdt.core.perspective">
         <actionSet id="com.keyware.unit.ui.CoverageActionSet"/>
         <showInPart id="com.keyware.unit.ui.CoverageView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="com.keyware.unit.internal.ui.coverageview.CoverageView"
            icon="$nl$/icons/full/eview16/coverage.png"
            id="com.keyware.unit.ui.CoverageView"
            name="%coverageView.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationImageProvider="com.keyware.unit.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="com.keyware.unit.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationImageProvider="com.keyware.unit.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="com.keyware.unit.ui.partialCoverageAnnotation"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageAnnotation.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationImageProvider="com.keyware.unit.internal.ui.annotation.CoverageAnnotationImageProvider"
            annotationType="com.keyware.unit.ui.noCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverageAnnotation.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               description="%localJavaApplicationTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.JUnitTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
         <launchMode
               description="%junitTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.WorkbenchTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
         <launchMode
               description="%eclipseAppTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.JUnitPluginTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
         <launchMode
               description="%junitPluginTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.EquinoxTabGroup"
            type="org.eclipse.pde.ui.EquinoxLauncher">
         <launchMode
               description="%equinoxTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.TestNGTabGroup"
            type="org.testng.eclipse.launchconfig">
         <launchMode
               description="%testNGTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.JUnitRAPTabGroup"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
         <launchMode
               description="%testNGTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.SWTBotJUnitTabGroup"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig">
         <launchMode
               description="%swtBotJUnitTabGroupDescription.coverage"
               mode="coverage">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.keyware.unit.ui.launching.CoverageTabGroup"
            helpContextId="com.keyware.unit.ui.coverage_launch_context"
            id="com.keyware.unit.ui.ScalaApplicationTabGroup"
            type="scala.application">
         <launchMode
               description="%scalaApplicationTabGroupDescription.coverage"
               mode="coverage">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.keyware.unit.internal.ui.launching.NoCoverageDataHandler"
            code="5101"
            id="com.keyware.unit.ui.noCoverageDataHandler"
            plugin="com.keyware.unit.core"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.keyware.unit.internal.ui.UIPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.debug.ui"
            class="com.keyware.unit.internal.ui.wizards.SessionImportWizard"
            icon="$nl$/icons/full/etool16/session_import.png"
            id="com.keyware.unit.ui.sessionImportWizard"
            name="%importSession.title">
         <description>%importSession.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.debug.ui"
            class="com.keyware.unit.internal.ui.wizards.SessionExportWizard"
            icon="$nl$/icons/full/etool16/session_export.png"
            id="com.keyware.unit.ui.sessionExportWizard"
            name="%exportSession.title">
         <description>%exportSession.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.keyware.unit.ui.externalFileDocumentProvider"
            inputTypes="com.keyware.unit.internal.ui.wizards.ExternalFileEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.keyware.unit.internal.ui.dialogs.CoveragePropertyPage"
            id="com.keyware.unit.ui.coveragePropertyPage"
            name="%coveragePropertyPage.title">
            <enabledWhen>
                <adapt
                        type="org.eclipse.jdt.core.IJavaElement"/>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.keyware.unit.internal.ui.decorators.CoverageDecorator"
            id="com.keyware.unit.ui.coverageDecorator"
            label="%coverageDecorator.label"
            lightweight="true"
            state="false">
         <description>%coverageDecorator.description</description>
         <enablement>
            <objectClass
                  name="org.eclipse.jdt.core.IJavaElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="com.keyware.unit.internal.ui.dialogs.CoveragePreferencePage"
            id="com.keyware.unit.ui.preferencePages.CoverageGeneral"
            name="%coveragePreferences.title">
         <keywordReference id="com.keyware.unit.ui.coveragePreferences"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.keyware.unit.ui.coveragePreferences"
            label="%keywords.coveragePreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
            objectClass="java.lang.Object"
            id="com.keyware.unit.ui.contextualLaunch.coverage">
         <action
               label="%CoverageContextMenu.label"
               style="pulldown"
               class="com.keyware.unit.internal.ui.actions.CoverageContextualLaunchAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.keyware.unit.ui.contextualLaunch.coverage.submenu">
         </action>
         <enablement>
            <test
                  forcePluginActivation="true"
                  property="org.eclipse.debug.ui.launchable"
                  value="coverage"/>
         </enablement>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.keyware.unit.internal.ui.editors.ExecutionDataEditor"
            extensions="exec"
            icon="icons/full/eview16/exec.png"
            id="com.keyware.unit.ui.editors.executiondata"
            name="%executionDataEditor.label">
         <contentTypeBinding
               contentTypeId="com.keyware.unit.core.executiondata">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.keyware.unit.ui.CoverageView">
         <command
               commandId="com.keyware.unit.ui.selectRootElements"
               icon="icons/full/elcl16/showprojects.png"
               label="%SelectProjectsMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="GROUP">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectRootElements"
               icon="icons/full/elcl16/showpackageroots.png"
               label="%SelectPackageRootsMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="BUNDLE">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectRootElements"
               icon="icons/full/elcl16/showpackages.png"
               label="%SelectPackagesMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="PACKAGE">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectRootElements"
               icon="icons/full/elcl16/showtypes.png"
               label="%SelectTypesMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="CLASS">
            </parameter>
         </command>
         <separator
               name="separator.counters"
               visible="true">
         </separator>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectInstructionCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="INSTRUCTION">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectBranchCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="BRANCH">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectLineCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="LINE">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectMethodCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="METHOD">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectTypeCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="CLASS">
            </parameter>
         </command>
         <command
               commandId="com.keyware.unit.ui.selectCounters"
               label="%SelectComplexityCountersMenu.label"
               style="radio">
            <parameter
                  name="type"
                  value="COMPLEXITY">
            </parameter>
         </command>
         <separator
               name="separator.options"
               visible="true">
         </separator>
         <command
               commandId="com.keyware.unit.ui.hideUnusedElements"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.keyware.unit.ui.CoverageView">
         <command
               commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
               style="push">
         </command>
         <separator
               name="separator.edit"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <separator
               name="separator.importexport"
               visible="true">
         </separator>
         <command
               commandId="com.keyware.unit.ui.importSession"
               disabledIcon="icons/full/dlcl16/import.png"
               icon="icons/full/elcl16/import.png"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.exportSession"
               disabledIcon="icons/full/dlcl16/export.png"
               icon="icons/full/elcl16/export.png"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.openSessionExecutionData"
               style="push">
         </command>
         <separator
               name="separator.refresh"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.refresh"
               style="push">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
         <separator
               name="separator.properties"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.file.properties"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.keyware.unit.ui.CoverageView">
         <command
               commandId="com.keyware.unit.ui.relaunchSession"
               disabledIcon="icons/full/dlcl16/relaunch.png"
               icon="icons/full/elcl16/relaunch.png"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.dumpExecutionData"
               disabledIcon="icons/full/dlcl16/dump.png"
               icon="icons/full/elcl16/dump.png"
               id="com.keyware.unit.ui.coverageView.dumpExecutionData"
               style="pulldown">
         </command>
         <separator
               name="separator.sessions"
               visible="true">
         </separator>
         <command
               commandId="com.keyware.unit.ui.removeActiveSession"
               disabledIcon="IMG_ELCL_REMOVE_DISABLED"
               icon="IMG_ELCL_REMOVE"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.removeAllSessions"
               disabledIcon="IMG_ELCL_REMOVEALL_DISABLED"
               icon="IMG_ELCL_REMOVEALL"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.mergeSessions"
               disabledIcon="icons/full/dlcl16/mergesessions.png"
               icon="icons/full/elcl16/mergesessions.png"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.selectActiveSession"
               disabledIcon="icons/full/dlcl16/session.png"
               icon="icons/full/elcl16/session.png"
               id="com.keyware.unit.ui.coverageView.sessionSelector"
               style="pulldown">
         </command>
         <separator
               name="separator.view"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
         <command
               commandId="com.keyware.unit.ui.linkWithSelection"
               icon="IMG_ELCL_SYNCED"
               style="toggle">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.keyware.unit.ui.coverageView.sessionSelector">
         <dynamic
               class="com.keyware.unit.internal.ui.handlers.SelectActiveSessionsItems"
               id="com.keyware.unit.ui.coverageView.sessionSelector">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.keyware.unit.ui.coverageView.dumpExecutionData">
         <dynamic
               class="com.keyware.unit.internal.ui.handlers.DumpExecutionDataItems"
               id="com.keyware.unit.ui.coverageView.dumpExecutionDataSelector">
         </dynamic>
         <separator
               name="separator.options"
               visible="true">
         </separator>
         <command
               commandId="com.keyware.unit.ui.resetOnDump"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.mylyn.tasks.bugs.support">
      <product
            description="Java Code Coverage"
            icon="eclemma32.png"
            id="com.keyware.unit"
            name="EclEmma"
            providerId="org.eclipse"
            url="http://www.eclemma.org/">
      </product>
      <mapping
            namespace="com.keyware.unit"
            productId="com.keyware.unit">
         <property
               name="product"
               value="Eclemma">
         </property>
      </mapping>
   </extension>
</plugin>
